html {
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.ctr-title {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.name {
  font-family: 'Coda', sans-serif;
  font-size: 10vh;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}
