<!DOCTYPE html>
<!-- file for doing redirects client-side, since GitHub Pages won't let you do it natively. Also lets us try to grab analytics on the drive-by. -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirecting...</title>
    <script src="https://www.googletagmanager.com/gtag/js?id=G-59P4P0W1W8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-59P4P0W1W8");
    </script>

    <meta
      http-equiv="refresh"
      content="0;url=<%= redirectUrl %>"
    />

    <script>
      // JavaScript fallback in case the meta tag fails
      setTimeout(() => {
        window.location.href =
          "<%= redirectUrl %>";
      }, 100); // ~100ms delay to give GA a chance
    </script>
  </head>
  <body>
    <p>
      If you are not redirected automatically,
      <a
        href="<%= redirectUrl %>"
        >click here</a
      >.
    </p>
  </body>
</html>
