@tailwind base;
@tailwind components;
@tailwind utilities;

@import "highlight.js/styles/sunburst.css";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@layer base {
  html {
    @apply scroll-smooth;
    @apply motion-reduce:scroll-auto;
  }

  a {
    @apply underline;
  }
}
