@tailwind base;
@tailwind components;
@tailwind utilities;

@import "highlight.js/styles/github-dark.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@layer base {
  html {
    @apply scroll-smooth;
    @apply motion-reduce:scroll-auto;
  }

  a {
    @apply underline;
  }
}
