@tailwind base;
@tailwind components;
@tailwind utilities;

@import "highlight.js/styles/sunburst.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@layer base {
  html {
    @apply scroll-smooth;
    @apply motion-reduce:scroll-auto;
  }

  a {
    @apply underline;
  }
}
